body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
	padding-left: 50px;
}

img {
	height:50px;
}

p {
	padding-left:10px;
}

button.done-button {
	float:left;
	margin-left:15px;
	margin-right:10px;
	width:75px;
}

button {
	margin-left: 15%;
	margin-top: 2%;
	margin-bottom: 7%;
}

input.done-button {
	float:left;
	margin-left:15px;
	margin-right:10px;
	margin-top: 3.5%;
	margin-bottom: 3.5%;
}

#a {
	width: 50%;
    background: lightgrey;
    margin: auto;
    border-radius: 10px;
}

.done {
	color:black;
	text-decoration: line-through;
	padding-top: 3%;
	padding-bottom: 3%;
}

.notDone {
	color:black;
	padding-top: 3%;
	padding-bottom: 3%;
}

.TodoList{
}