body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
	padding-left: 50px;
}

img {
	height:50px;
}

p {
	padding-left:10px;
}

button.done-button {
	float:left;
	margin-left:15px;
	margin-right:10px;
	width:75px;
}

input.done-button {
	float:left;
	margin-left:15px;
	margin-right:10px;
}

#a {
	width: 500px;
    background: lightblue;
}

.done {
	color:green;
	text-decoration: line-through;
}

.notDone {
	color:black;
}